*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
   height: 100%;
   width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.shape{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color:green;
}
#diamond{
    rotate: 45deg;
    margin-top: 50px;
    height: 170px;
    width: 170px;
    translate: 20px;
}
#diamond:hover{
    background-color: blue;
}
#square:hover{
    background-color: rgb(224, 14, 14);
}